# Core packages
annotated-types
# anywidget
contextily
cubo
dask
# dlt[duckdb]>=1.11.0
earthengine-api
# esda
folium
fsspec
gdal
geoarrow-pyarrow
geoarrow-pandas
geopandas
geodatasets
geopy
geos
h3-py
ipyleaflet
ipython
ipywidgets
jupyterlab
lonboard
matplotlib
notebook
overturemaps
pandas
planetary-computer
# pvlib
pydeck
pystac-client
python-dotenv
pytorch-lightning
rasterio
rioxarray
scikit-learn
shapely
stackstac
tqdm
urllib3
xarray
pyyaml

# data
datahugger
duckdb>=1.2.0
duckdb-engine
fiona
jupysql~=0.11
# jupyter_bbox_widget 
motherduck
numpy
opencv-python
openeo
obstore
pillow
pycountry
pygeohash
pystac
# rastervision
rtree
sciencebasepy
scikit-image
scipy
seaborn
seedir
segmentation-models-pytorch~=0.5
stac-geoparquet
tifffile
timm
torch>=2.0.0
torchgeo~=0.7
torchmetrics>=1.0.0
torchvision
wandb